mtom/JaxWsMtom/src/main/webapp/WEB-INF/wsit-com.curso.jaxwsmtom.MtomWs.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MtomWs" targetNamespace="http://jaxwsmtom.curso.com/" xmlns:tns="http://jaxwsmtom.curso.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="upload"/>
    <message name="uploadResponse"/>
    <message name="download"/>
    <message name="downloadResponse"/>
    <portType name="MtomWs">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="upload">
            <input message="tns:upload"/>
            <output message="tns:uploadResponse"/>
        </operation>
        <operation name="download">
            <input message="tns:download"/>
            <output message="tns:downloadResponse"/>
        </operation>
    </portType>
    <binding name="MtomWsPortBinding" type="tns:MtomWs">
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="upload">
            <input/>
            <output/>
        </operation>
        <operation name="download">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="MtomWs">
        <port name="MtomWsPort" binding="tns:MtomWsPortBinding"/>
    </service>
</definitions>
