soapfault/EjemploSoapFaultClient/src/wsdl/localhost_8080/EjemploSoapFault/SoapFaultWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejemplosoapfault.curso.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejemplosoapfault.curso.com/">

<xs:element name="ServicioFault" nillable="true" type="tns:servicioFault"/>

<xs:element name="saludo" type="tns:saludo"/>

<xs:element name="saludoResponse" type="tns:saludoResponse"/>

<xs:complexType name="saludo">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:string" minOccurs="0"/>
<xs:element name="faultString" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>