mtom/JaxWsMtomClient/src/wsdl/localhost_8080/JaxWsMtom/MtomWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxwsmtom.curso.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxwsmtom.curso.com/" name="MtomWs">
<wsp:Policy wsu:Id="MtomWsPortBindingPolicy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<wsp:Policy wsu:Id="MtomWsPortBinding_MTOM_Policy-MtomWsPortBinding_MTOM_Policy">
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://jaxwsmtom.curso.com/" schemaLocation="http://localhost:8080/JaxWsMtom/MtomWs?xsd=1"/>
</xsd:schema>
</types>
<message name="upload">
<part name="parameters" element="tns:upload"/>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="download">
<part name="parameters" element="tns:download"/>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"/>
</message>
<portType name="MtomWs">
<operation name="upload">
<input wsam:Action="http://jaxwsmtom.curso.com/MtomWs/uploadRequest" message="tns:upload"/>
<output wsam:Action="http://jaxwsmtom.curso.com/MtomWs/uploadResponse" message="tns:uploadResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://jaxwsmtom.curso.com/MtomWs/helloRequest" message="tns:hello"/>
<output wsam:Action="http://jaxwsmtom.curso.com/MtomWs/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="download">
<input wsam:Action="http://jaxwsmtom.curso.com/MtomWs/downloadRequest" message="tns:download"/>
<output wsam:Action="http://jaxwsmtom.curso.com/MtomWs/downloadResponse" message="tns:downloadResponse"/>
</operation>
</portType>
<binding name="MtomWsPortBinding" type="tns:MtomWs">
<wsp:PolicyReference URI="#MtomWsPortBinding_MTOM_Policy-MtomWsPortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#MtomWsPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="upload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MtomWs">
<port name="MtomWsPort" binding="tns:MtomWsPortBinding">
<soap:address location="http://localhost:8080/JaxWsMtom/MtomWs"/>
</port>
</service>
</definitions>